.registration {

  padding: 100px 0;

  &__header {
    margin: 0;
    text-align: center;
    font-size: 50px;
  }

  &__description {
    text-align: center;
    margin: 40px auto;
    font-size: 16px;
    max-width: 430px;
  }
}

.form {
  width: 468px;
  margin: 0 auto;

  &__input {
    margin-top: 10px;
    width: 468px;
    height: 40px;
    padding: 0 20px;
    border: 1px solid $elements;
    border-radius: 5px;
    outline: none;
  }

  &__label {
    display: block;
    margin-bottom: 15px;
  }

  &__span {
    font-size: 12px;
    margin-top: 10px;
    display: block;
  }

  &__radio {
    display: block;
    margin-bottom: 8px;
    padding-left: 25px;
    cursor: pointer;
    position: relative;
    user-select: none;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    & input:checked ~ .form__checkmark {
      border: 4px solid $checked;
    }
  }

  &__checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid $elements;
    border-radius: 50%;
  }

  &__input-photo {
    display: block;
    margin: 10px 0;
  }
}